#container{

    width: 600px;
    background-color: blue;
    margin: 0auto;

}
div{
    background-color: aqua
    height: 30px;
}
div.text{
    height: 30px;
    background-color: red;
    transmition: all .4s linear;
}
div.test :hover{
    height: 50px;
}